<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team Parser | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <script src="{{ settings.STATIC_BUNDLE_URL }}"></script>

</head>
<body>
    <div class="base_header">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active logo" aria-current="page" href="{% url 'index' %}">Team Parser</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
