{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="index_content">
        <h2>Выберите команду</h2>
        <form>
            <select class="form-select index_content__choose_team" aria-label="Default select example">
                <option selected>Gambit</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button type="submit" class="btn btn-primary index_content__choose_team__btn_submit">Посмотреть статистику</button>
        </form>
    </div>
{% endblock %}