{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="index_content">
        <h3>Выберите команду</h3>
        <form class="index_content__select_team_form">
            <select class="form-select index_content__choose_team" aria-label="Default select example">
                <option selected>Gambit</option>
                <option value="1">G2</option>
                <option value="2">Cloud9</option>
                <option value="3">Spirit</option>
                <option value="4">HaMaSSe</option>
            </select>
            <button type="submit" class="btn btn btn-outline-primary index_content__choose_team__btn_submit">Перейти к обзору</button>
        </form>
    </div>
{% endblock %}