{% extends 'base.html' %}
{% block title %}Статистика{% endblock %}
{% block content %}
    <div class="statistic_table_content">
        <h4>Статистика команды team_name</h4>
        <div class="statistic_table_content__table">
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    {% for map in maps %}
                        <th scope="col">{{ map }}</th>
                    {% endfor %}
                    <th scope="col">Тип матча</th>
                    <th scope="col">Турнир</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Astralis</th>
                    <td class="table-secondary">Вычерк #3</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-primary">W (16-6)</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-danger">Вычерк #2</td>
                    <td class="table-danger">Вычерк #3</td>
                    <td>bo1</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">MK</th>
                    <td class="table-danger">Вычерк #3</td>
                    <td class="table-warning">W(16-11)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-primary">W(16-1)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                <tr>
                    <th scope="row">Rouge</th>
                    <td class="table-danger">Вычерк #1</td>
                    <td class="table-success">L(14-16)</td>
                    <td class="table-secondary">Вычерк #2</td>
                    <td class="table-secondary">Вычерк #1</td>
                    <td class="table-success">W(16-5)</td>
                    <td class="table-warning">L(17-19)</td>
                    <td class="table-danger">Вычерк #1</td>
                    <td>bo3</td>
                    <td>ELEAGUE Major</td>
                    <td>22.01.17</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="fixed-bottom statistic_table_content_footer">
        <div class="statistic_table_content__help d-flex justify-content-center">
            <table class="table">
                <tbody>
                <tr>
                    <th>Выбор команды</th>
                    <th>Выбор соперника</th>
                    <th>Вычерк команды</th>
                    <th>Вычерк соперника</th>
                    <th>Крайняя карта</th>
                </tr>
                <tr>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-danger"></td>
                    <td class="table-secondary"></td>
                    <td class="table-primary"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </footer>
{% endblock %}