{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="team_profile__content container">
        <div class="row">
            <div class="col-12 col-md-2">
                <img class="team_profile__logo" src="https://img-cdn.hltv.org/teamlogo/bEgST6XoNV4ZdenRKzCQyl.svg?ixlib=java-2.1.0&s=bd9b10a8dfe7b3640103745687389e3c"
                         alt="кек" width="150" height="150">
            </div>
            <div class="col-12 col-md-4">
                <h3>Cloud9</h3>
            </div>
            <div class="col-12 col-md-6">

            </div>
        </div>
    </div>
{% endblock %}