{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="team_profile__content container">
        <div class="row">
            <div class="col-12 col-md-2">
                <img class="team_profile__logo" src="https://img-cdn.hltv.org/teamlogo/pNV-lVdpvYZIkDwHdEXXg-.svg?ixlib=java-2.1.0&s=8b557b5b4d283208976340ef1bc44c76"
                         alt="кек" width="150" height="150">
            </div>
            <div class="col-12 col-md-4">
                <h3>team_name</h3>
                <p>Country</p>
                <h4>Текущий состав</h4>
                <ul>
                    <li>Иванов Иван</li>
                    <li>Иванов Иван</li>
                    <li>Иванов Иван</li>
                    <li>Иванов Иван</li>
                    <li>Иванов Иван</li>
                </ul>
            </div>
            <div class="col-12 col-md-6">

            </div>
        </div>
    </div>
{% endblock %}