layout python python3.9

export DJANGO_SETTINGS_MODULE="hltv_parser.settings.development"
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://hltv-parser.com:2376"
export DOCKER_CERT_PATH="$HOME/.docker/machine/machines/hltv-parser.com"
export DOCKER_MACHINE_NAME="hltv-parser.com"
